<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Webs vulnerables</title>

	<link rel="shortcut icon" href="../static/assets/images/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../static/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../static/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../static/assets/js/html5shiv.js"></script>
	<script src="../static/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="../static/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="index.html">Home</a></li>
					<li><a href="about.html">Sobre Nosotros</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="plotly.html">Ranking de usuarios críticos</a></li>
							<li class="active"><a href="#">Ranking de webs vulnerables</a></li>
							<li class="active"><a href="plotly_conex.html">Media de conexiones</a></li>
							<li class="active"><a href="plotly_years.html">Webs por año</a></li>
						</ul>
					</li>
					<li><a href="ajax.html">Real time Vulns</a></li>
					<li><a href="pwned.html">Pwned?</a></li>
					<li><a class="btn" href="signin.html">Iniciar sesión / Registrarse</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->
<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
			   <h1 class="lead">Webs vulnerables</h1>
			   <form action="/parametro" method="post">
			   <label for="numero">Introduce cuantas webs quieres ver</label><br>
			   <input type="number" id="numero" name="numero">
			   <button type="submit" class="send">Enviar</button>
			   </form>

			  {% if graphJSON %}
				<div id='chart' class='chart'”></div>
				<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
				<script type='text/javascript'>
				  var graphs = {{graphJSON | safe}};
				  Plotly.plot('chart',graphs,{});
				</script>
			  {% endif %}
			</div>
		</div>
	</header>
	<!-- /Header -->

  <footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contacto</h3>
						<div class="widget-body">
							<p>Emails<br>
								<a href="mailto:#">jl.gallego.2019@alumnos.urjc.es</a><br>
								<br>
								<a href="mailto:#">jorge.2019@alumnos.urjc.es</a><br>
								<br>
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Repositorio</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://github.com/Skualid/Practice1-SI"><i class="fa fa-github fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Ejercicio 2</h3>
						<div class="widget-body">
							<p>El top X de webs vulnerables.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="index.html">Home</a> |
								<a href="about.html">Sobre Nosotros</a> |
								<a href="ajax.html">Real Time Vulns</a> |
                                <a href="pwned.html">Pwned?</a> |
								<b><a href="signup.html">Registrarse</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2022, Jorge y José Luis</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

  </footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../static/assets/js/headroom.min.js"></script>
	<script src="../static/assets/js/jQuery.headroom.min.js"></script>
	<script src="../static/assets/js/template.js"></script>
</body>
</html>